---
layout: default
step:   "HOME"
title:  "Spring Framework Elementary"
---

<div id="home">
  <h1>Traning Texts</h1>
  <ul class="posts">
    {% assign sorted_texts = (site.texts | sort:"step") %}
    {% for text in sorted_texts %}
      <li><a href="{{ site.baseurl }}{{ text.url }}">
          {{ text.step }} - {{ text.title }}
      </a></li>
    {% endfor %}
  </ul>
</div>

<div id="home">
  <h1>Handon Documents</h1>
  <ul class="posts">
    {% assign sorted_handsons = (site.handsons | sort:"step") %}
    {% for handson in sorted_handsons %}
      <li><a href="{{ site.baseurl }}{{ handson.url }}">
          {{ handson.step }} - {{ handson.title }}
      </a></li>
    {% endfor %}
  </ul>
</div>
